:root {
  --fontSize:1.5rem;
  --fontWeight:bold;
  --padding-bottom:0.8rem;
}

.movie {
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.movie__intro{
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.movie__poster{
  width: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.movie__detailRight{
  padding: 3rem;
}

.movie__detailRight > div{
  padding-bottom: 1rem;
}

.movie__detailRight .movie__name{
  font-size:2rem;
  font-weight: var(--fontWeight);
}
.movie__detailRight .voteAverage{
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  padding-bottom: var(--padding-bottom);
}
.movie__detailRight .runtime{
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  padding-bottom: var(--padding-bottom);
}
.movie__detailRight .genres{
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  padding-bottom: var(--padding-bottom);

}

.movie__detailRight .movie__genre{
  padding-right: .8rem;

}


.movie__detailRight .synopsisText{
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  padding-bottom: var(--padding-bottom);
}

.movie__detailRight .synopsisTextLine{
  line-height: 1.5;
}


@media screen and (max-width : 800px) {
  .movie__intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .movie__poster{
    width: 200px;
  }

  .movie__intro{
    padding: 0rem;
    padding-top: 2rem;
  }
}